@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');



body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #4e0117;
}

.contenedor-botonera {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 60px;
}

.boton {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f5c44a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.boton a {
    color: #4e0117;
    text-decoration: none;
}

h1 {
    margin-top: 0px;
    font-size: 100px;
    font-family: 'Acme', sans-serif;
    color: #f5c44a;
    text-shadow: 2px 2px 2px #000;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 24%;
    border: 3px solid #f5c44a;
}

@media (max-width: 50vw) {
    .todo {
        border: none;
    }
}

.linea {
    display: flex;
    margin: 0;
}

.cuadrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    max-width: 30%;
    margin: 10px;
    border: 2px solid #f5c44a;
    color: #f5c44a;
    font-size: xx-large;

}



/* Estilos adicionales para crear la matriz de 3x3 */
.linea {
    flex-wrap: nowrap;
    /* Evita que los elementos de la fila se envuelvan */
}

.cuadrado:nth-child(4),
.cuadrado:nth-child(5),
.cuadrado:nth-child(6) {
    border-top: none;
    /* Elimina el borde superior de la segunda fila */
}

.linea:first-child .square,
.linea:last-child .square {
    border-bottom: none;
    /* Elimina el borde inferior de la primera y última fila */
}